{{ define "main" }}
<div class="container">
  <div class="col-sm-9 offset-sm-1">
    <h1 class="mt-5">{{ .Title | markdownify}}</h1>

    {{ if .Params.Subtitle }}
      <h2 class="font-weight-light font-italic mb-3">{{ .Params.Subtitle | markdownify }}</h2>
    {{ end }}

    <p class="text-muted mt-3">
      <a class="text-muted" href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006"  }}</a>
      <br/><small>By {{ .Params.Author }}</small>
    </p>

    <article class="article mt-2 mb-5">
      {{ .Content }}
    </article>
  </div>
</div>

{{ if or .NextInSection .PrevInSection }}
  <div class="bg-light py-5">
    <div class="container">
      <h2 class="text-center">Read next</h2>

      <div class="row">
        <div class="col-md-6 text-center">
          {{ if .PrevInSection }}
            Previous Post:
            <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title | markdownify }}</a>
          {{ end }}
        </div>
        <div class="col-md-6 text-center">
          {{ if .NextInSection }}
            Next Post:
            <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title | markdownify }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<div class="container mt-5">
  <h2 class="text-center">See also</h2>
  <div class="row">
  	{{ range . }}
      <div class="col-md mb-3">
        <p class="lead mb-0"><a class="text-body" href="{{ .RelPermalink }}">{{ .Title | markdownify}}</a></p>

        {{ if .Params.Subtitle }}
          <p class="lead font-italic mb-0">{{ .Params.Subtitle | markdownify }}</p>
        {{ end }}
        <p class="font-weight-light mt-3">{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}" class="btn btn-primary">Read more</a>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ end }}