@import "bootstrap.scss";
@import "fontawesome.scss";

.installation-method {
    a {
        text-decoration: none;
        color: black !important;
    }
}

article {
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
        margin-bottom: 15px;
        line-height: 1.5;
        font-family: Helvetica, Arial, sans-serif;
    }

    img {
        max-width: 100%;
    }
}