<div class="container-fluid  mt-auto position-relative pt-5 pb-3" style="background-color: #f5f5f5;">
    <footer class="container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Contribute</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted text-decoration-none" href="/en/community/contribute/">Code</a></li>
                    <li><a class="text-muted text-decoration-none" href="/en/community/contribute/">Testing</a></li>
                    <li><a class="text-muted text-decoration-none" href="/en/community/contribute/">Design</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Follow us</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted text-decoration-none" href="https://www.facebook.com/GetGatekeeper/">Facebook</a></li>
                    <li><a class="text-muted text-decoration-none" href="https://www.twitter.com/GatekeeperPage/">Twitter</a></li>
                    <li><a class="text-muted text-decoration-none" href="https://gatekeeper.page/en/blog/index.xml">RSS Feed</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
            </div>
        </div>
    </footer>
</div>