<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="/img/logo-long.svg" /></a>
  <div class="navbar-collapse collapse flex-sm-row-reverse" id="navbarSupportedContent">
    <a href="/en/install" class="btn border text-white d-none d-lg-flex">Get Gatekeeper</a>

    <ul class="navbar-nav flex-grow-1">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $active := $currentPage.IsMenuCurrent "main" . }}
      <li class="navbar-item {{if $active }} active{{end}} {{ if .HasChildren}}dropdown{{end}}">
        {{ if .HasChildren }}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ .Name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ range .Children }}
          <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          {{ end }}
        </div>
        {{ else }}
        <a class="nav-link" href="{{ .URL | relLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end}}
      </li>
      {{ end }}
      <li class="navbar-item d-block d-lg-none"><a href="/en/install" class="nav-link">Get Gatekeeper</a></li>
    </ul>
  </div>
</nav>
