<div class="container pt-4 pb-4">
    <div class="row flex-column flex-lg-row">
        <div class="explanation-card col-sm bg-primary text-white text-center pl-4 pr-4">
            <div class="p-5">
                <h4>{{ with .Get "header" }}{{.}}{{ end }}</h4>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm">
            <h2 class="pt-4 pt-lg-2">{{ with .Get "title" }}{{.}}{{ end }}</h2>
            <p class="text-muted">{{ with .Get "description" }}{{. }}{{ end }}</p>
        </div>
    </div>
</div>