<div class="container pt-4 pb-4">
    <div class="text-center pb-4">
        <h2>Read our latest news</h2>         
    </div>

    <div class="row">
        {{ range ( where site.RegularPages "Section" "blog" | first 4 ) }}
            <div class="col-sm-6 mb-4">
                <div class="h-100 row no-gutters shadow border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                    {{ $taxo := "blog/categories" }}
                    {{ range .Param $taxo }}
                        {{ with site.GetPage (printf "/%s/%s" $taxo (. | urlize)) }}
                        <a class="text-muted" href="{{ .Permalink }}">#{{ .Title }}</a>
                        {{ end }}
                    {{ end }}
                    </strong>
                    <a href="{{ .Permalink }}" class="text-gray text-decoration-none">
                    <h3 class="mb-1">{{ .Title }}</h3>
        
                    <time class="post-date pt-1"
                        datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                    <p class="card-text mb-auto pt-3">{{ .Summary }}</p>
                    <a href="{{ .Permalink }}" class="pt-3">Continue reading</a>
                    </a>
                </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>